/* ---------------------------------------------------------------------
apply a natural box layout model to all elements - Paul Irish
--------------------------------------------------------------------- */
* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------
clearfix classes
--------------------------------------------------------------------- */
.group:after,
.row:after,
.clearfix:after,
.clear:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
*:first-child+html .group,
*:first-child+html .row,
*:first-child+html .clearfix,
*:first-child+html .clear { zoom: 1; } /* IE7 */

/* ---------------------------------------------------------------------
push off screen
--------------------------------------------------------------------- */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* ---------------------------------------------------------------------
layout
--------------------------------------------------------------------- */
.title-wrapper {
    margin: 0;
    width: 100%;
}

.title-wrapper h1 {
    margin: 0;
}

.wrapper {
    float: none;
    clear: both;
    margin: 0 auto;
    width: 910px;
}



hr {
    display: block;
    float: none;
    clear: both;
    border: none;
    height: 1px;
}

img {
    max-width: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin: 0 auto;
}

/* ---------------------------------------------------------------------
lists
--------------------------------------------------------------------- */

.no-list-style {
	padding: 0;
	list-style: none;
}

.inline-list,
.inline-list-nav {
	display: inline-block;
	padding: 0;
	list-style: none;
}

.inline-list li {
	display: inline-block;
	float: left;
	padding: 0 10px;
}

.inline-list li:first-child {
	padding: 0 10px 0 0;
}

.inline-list-nav li {
	display: inline-block;
	float: left;
}

.inline-list-nav a {
	padding: 0 10px;
	border-left: 1px solid #ccc;
}

.inline-list-nav li:first-child a {
	padding: 0 10px 0 0;
	border-left: none;
}

/* ---------------------------------------------------------------------
breadcrumbs
--------------------------------------------------------------------- */

.breadcrumbs {
	display: inline-block;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	float: left;
	padding: 0 5px;
}

.breadcrumbs li:first-child {
	padding: 0 5px 0 0;
}


/* ---------------------------------------------------------------------
links
--------------------------------------------------------------------- */

a:link,
a:visited,
a:hover,
a:active {
	outline: 0;
}

a:link,
a:visited {
}

a:hover,
a:active {
}

.block-link {
	display: block;
	width: 100%;
	height: 100%;
}

/* ---------------------------------------------------------------------
buttons
--------------------------------------------------------------------- */

.button,
a.button:link,
a.button:visited,
button.button {
	padding: 5px 10px;
	-webkit-border-radius: 4px;   
    border-radius: 4px;
	text-decoration: none;
	color: #000;
	background: #f2f2f2;
	border: 1px solid #ddd;
}

.form-actions {
	display: inline-block;
	clear: both;
}

.form-actions span {
	display: inline-block;
	margin: 0;
	padding: 0 10px;
}

.pri,
a.pri:link,
a.pri:visited,
button.pri {
	color: #fff;
	background: #8ac007;
	border: 1px solid green;
}

.sec,
a.sec:link,
a.sec:visited,
button.sec {
	background: transparent;
	border: none;
	text-decoration: underline;
}

.form-actions .sec,
.form-actions a.sec:link,
.form-actions a.sec:visited,
.form-actions button.sec {
	padding-right: 0;
	padding-left: 0;
}

/* ---------------------------------------------------------------------
grid
--------------------------------------------------------------------- */

.row {
    float: none;
    clear: both;
}

.col:first-child {
    margin-left: 0;
}

.grid-1-12,
.grid-2-12,
.grid-3-12,
.grid-4-12,
.grid-5-12,
.grid-6-12,
.grid-7-12,
.grid-8-12,
.grid-9-12,
.grid-10-12,
.grid-11-12,
.grid-1-16,
.grid-2-16,
.grid-3-16,
.grid-4-16,
.grid-5-16,
.grid-6-16,
.grid-7-16,
.grid-8-16,
.grid-9-16,
.grid-10-16,
.grid-11-16,
.grid-12-16,
.grid-13-16,
.grid-14-16,
.grid-15-16 {
	float: left;
    clear: none;
    margin-left: 2.127659574%; /* 20 / 940 */
}

.grid-12-12,
.grid-16-16 {
    float: none;
    clear: both;
}

.last,
.end {
    float: right !important;
	margin-left: 0 !important;
    margin-right: 0 !important;
}

/* ---------------------------------------------------------------------
grids
--------------------------------------------------------------------- */
.fluid .col {
    float: left;
    clear: none;
    margin: 0;
}

.grid-1-1 {
    float: left;
    clear: none;
    margin: 0;
    width: 100%;
}

.fluid .grid-1-2 {width: 50%;}

.fluid .grid-1-3 {width: 33.33333%;}
.fluid .grid-2-3 {width: 66.66666%;}

.fluid .grid-1-4 {width: 25%;}
.fluid .grid-2-4 {width: 50%;}
.fluid .grid-3-4 {width: 75%;}

.fluid .grid-1-5 {width: 20%;}
.fluid .grid-2-5 {width: 40%;}
.fluid .grid-3-5 {width: 60%;}
.fluid .grid-4-5 {width: 80%;}

.fluid .grid-1-6 {width: 16.6666666667%;}
.fluid .grid-2-6 {width: 33.3333333334%;}
.fluid .grid-3-6 {width: 50%;}
.fluid .grid-4-6 {width: 66.6666666668%;}
.fluid .grid-5-6 {width: 83.3333333335%;}

.fluid .grid-1-7 {width: 14.2857142857%;}
.fluid .grid-2-7 {width: 28.5714285714%;}
.fluid .grid-3-7 {width: 42.8571428571%;}
.fluid .grid-4-7 {width: 57.1428571428%;}
.fluid .grid-5-7 {width: 71.4285714285%;}
.fluid .grid-6-7 {width: 85.7142857142%;}

.fluid .grid-1-8 {width: 12.5%;}
.fluid .grid-2-8 {width: 25%;}
.fluid .grid-3-8 {width: 37.5%;}
.fluid .grid-4-8 {width: 50%;}
.fluid .grid-5-8 {width: 62.5%;}
.fluid .grid-6-8 {width: 75%;}
.fluid .grid-7-8 {width: 87.5%;}

.fluid .grid-1-9 {width: 11.1111111111%;}
.fluid .grid-2-9 {width: 22.2222222222%;}
.fluid .grid-3-9 {width: 33.3333333333%;}
.fluid .grid-4-9 {width: 44.4444444444%;}
.fluid .grid-5-9 {width: 55.5555555555%;}
.fluid .grid-6-9 {width: 66.6666666666%;}
.fluid .grid-7-9 {width: 77.7777777777%;}
.fluid .grid-8-9 {width: 88.8888888888%;}

.fluid .grid-1-10 {width: 10%;}
.fluid .grid-2-10 {width: 20%;}
.fluid .grid-3-10 {width: 30%;}
.fluid .grid-4-10 {width: 40%;}
.fluid .grid-5-10 {width: 50%;}
.fluid .grid-6-10 {width: 60%;}
.fluid .grid-7-10 {width: 70%;}
.fluid .grid-8-10 {width: 80%;}
.fluid .grid-9-10 {width: 90%;}

.fluid .grid-1-11 {width: 9.09090909091%;}
.fluid .grid-2-11 {width: 18.1818181818%;}
.fluid .grid-3-11 {width: 27.2727272727%;}
.fluid .grid-4-11 {width: 36.3636363636%;}
.fluid .grid-5-11 {width: 45.4545454545%;}
.fluid .grid-6-11 {width: 54.5454545455%;}
.fluid .grid-7-11 {width: 63.6363636364%;}
.fluid .grid-8-11 {width: 72.7272727273%;}
.fluid .grid-9-11 {width: 81.8181818182%;}
.fluid .grid-10-11 {width: 90.9090909091%;}

.fluid .grid-1-12 {width: 8.33333333333%;}
.fluid .grid-2-12 {width: 16.6666666667%;}
.fluid .grid-3-12 {width: 25%;}
.fluid .grid-4-12 {width: 33.3333333333%;}
.fluid .grid-5-12 {width: 41.6666666667%;}
.fluid .grid-6-12 {width: 50%;}
.fluid .grid-7-12 {width: 58.3333333333%;}
.fluid .grid-8-12 {width: 58.3333333333%;}
.fluid .grid-9-12 {width: 75%;}
.fluid .grid-10-12 {width: 83.3333333333%;}
.fluid .grid-11-12 {width: 91.6666666667%;}

.fluid .grid-1-13 {width: 7.69230769231%;}
.fluid .grid-2-13 {width: 15.3846153846%;}
.fluid .grid-3-13 {width: 23.0769230769%;}
.fluid .grid-4-13 {width: 30.7692307692%;}
.fluid .grid-5-13 {width: 38.4615384615%;}
.fluid .grid-6-13 {width: 46.1538461538%;}
.fluid .grid-7-13 {width: 53.8461538462%;}
.fluid .grid-8-13 {width: 61.5384615385%;}
.fluid .grid-9-13 {width: 69.2307692308%;}
.fluid .grid-10-13 {width: 76.9230769231%;}
.fluid .grid-11-13 {width: 84.6153846154%;}
.fluid .grid-12-13 {width: 92.3076923077%;}

.fluid .grid-1-14 {width: 7.14285714286%;}
.fluid .grid-2-14 {width: 14.2857142857%;}
.fluid .grid-3-14 {width: 21.4285714286%;}
.fluid .grid-4-14 {width: 28.5714285714%;}
.fluid .grid-5-14 {width: 35.7142857143%;}
.fluid .grid-6-14 {width: 42.8571428571%;}
.fluid .grid-7-14 {width: 50%;}
.fluid .grid-8-14 {width: 57.1428571429%;}
.fluid .grid-9-14 {width: 64.2857142857%;}
.fluid .grid-10-14 {width: 71.4285714286%;}
.fluid .grid-11-14 {width: 78.5714285714%;}
.fluid .grid-12-14 {width: 85.7142857143%;}
.fluid .grid-13-14 {width: 92.8571428571%;}

.fluid .grid-1-15 {width: 6.66666666667%;}
.fluid .grid-2-15 {width: 13.3333333333%;}
.fluid .grid-3-15 {width: 20%;}
.fluid .grid-4-15 {width: 26.6666666667%;}
.fluid .grid-5-15 {width: 33.3333333333%;}
.fluid .grid-6-15 {width: 40%;}
.fluid .grid-7-15 {width: 46.6666666667%;}
.fluid .grid-8-15 {width: 53.3333333333%;}
.fluid .grid-9-15 {width: 60%;}
.fluid .grid-10-15 {width: 66.6666666667%;}
.fluid .grid-11-15 {width: 73.3333333333%;}
.fluid .grid-12-15 {width: 80%;}
.fluid .grid-13-15 {width: 86.6666666667%;}
.fluid .grid-14-15 {width: 93.3333333333%;}

.fluid .grid-1-16 {width: 6.25%;}
.fluid .grid-2-16 {width: 12.5%;}
.fluid .grid-3-16 {width: 18.75%;}
.fluid .grid-4-16 {width: 25%;}
.fluid .grid-5-16 {width: 31.25%;}
.fluid .grid-6-16 {width: 37.5%;}
.fluid .grid-7-16 {width: 43.75%;}
.fluid .grid-8-16 {width: 50%;}
.fluid .grid-9-16 {width: 56.25%;}
.fluid .grid-10-16 {width: 62.5%;}
.fluid .grid-11-16 {width: 68.75%;}
.fluid .grid-12-16 {width: 75%;}
.fluid .grid-13-16 {width: 81.25%;}
.fluid .grid-14-16 {width: 87.5%;}
.fluid .grid-15-16 {width: 93.75%;}

.fluid .grid-1-17 {width: 5.88235294118%;}
.fluid .grid-2-17 {width: 11.7647058824%;}
.fluid .grid-3-17 {width: 17.6470588235%;}
.fluid .grid-4-17 {width: 23.5294117647%;}
.fluid .grid-5-17 {width: 29.4117647059%;}
.fluid .grid-6-17 {width: 35.2941176471%;}
.fluid .grid-7-17 {width: 41.1764705882%;}
.fluid .grid-8-17 {width: 47.0588235294%;}
.fluid .grid-9-17 {width: 52.9411764706%;}
.fluid .grid-10-17 {width: 58.8235294118%;}
.fluid .grid-11-17 {width: 64.7058823529%;}
.fluid .grid-12-17 {width: 70.5882352941%;}
.fluid .grid-13-17 {width: 76.4705882353%;}
.fluid .grid-14-17 {width: 82.3529411765%;}
.fluid .grid-15-17 {width: 88.2352941176%;}
.fluid .grid-16-17 {width: 94.1176470588%;}

.fluid .grid-1-18 {width: 5.55555555556%;}
.fluid .grid-2-18 {width: 11.1111111111%;}
.fluid .grid-3-18 {width: 16.6666666667%;}
.fluid .grid-4-18 {width: 22.2222222222%;}
.fluid .grid-5-18 {width: 27.7777777778%;}
.fluid .grid-6-18 {width: 33.3333333333%;}
.fluid .grid-7-18 {width: 38.8888888889%;}
.fluid .grid-8-18 {width: 44.4444444444%;}
.fluid .grid-9-18 {width: 50%;}
.fluid .grid-10-18 {width: 55.5555555556%;}
.fluid .grid-11-18 {width: 61.1111111111%;}
.fluid .grid-12-18 {width: 66.6666666667%;}
.fluid .grid-13-18 {width: 72.2222222222%;}
.fluid .grid-14-18 {width: 77.7777777778%;}
.fluid .grid-15-18 {width: 83.3333333333%;}
.fluid .grid-16-18 {width: 88.8888888889%;}
.fluid .grid-17-18 {width: 94.4444444444%;}

.fluid .grid-1-19 {width: 5.26315789474%;}
.fluid .grid-2-19 {width: 10.5263157895%;}
.fluid .grid-3-19 {width: 15.7894736842%;}
.fluid .grid-4-19 {width: 21.0526315789%;}
.fluid .grid-5-19 {width: 26.3157894737%;}
.fluid .grid-6-19 {width: 31.5789473684%;}
.fluid .grid-7-19 {width: 36.8421052632%;}
.fluid .grid-8-19 {width: 42.1052631579%;}
.fluid .grid-9-19 {width: 47.3684210526%;}
.fluid .grid-10-19 {width: 52.6315789474%;}
.fluid .grid-11-19 {width: 57.8947368421%;}
.fluid .grid-12-19 {width: 63.1578947368%;}
.fluid .grid-13-19 {width: 68.4210526316%;}
.fluid .grid-14-19 {width: 73.6842105263%;}
.fluid .grid-15-19 {width: 78.9473684211%;}
.fluid .grid-16-19 {width: 84.2105263158%;}
.fluid .grid-17-19 {width: 89.4736842105%;}
.fluid .grid-18-19 {width: 94.7368421053%;}

.fluid .grid-1-20 {width: 5%;}
.fluid .grid-2-20 {width: 10%;}
.fluid .grid-3-20 {width: 15%;}
.fluid .grid-4-20 {width: 20%;}
.fluid .grid-5-20 {width: 25%;}
.fluid .grid-6-20 {width: 30%;}
.fluid .grid-7-20 {width: 35%;}
.fluid .grid-8-20 {width: 40%;}
.fluid .grid-9-20 {width: 45%;}
.fluid .grid-10-20 {width: 50%;}
.fluid .grid-11-20 {width: 55%;}
.fluid .grid-12-20 {width: 60%;}
.fluid .grid-13-20 {width: 65%;}
.fluid .grid-14-20 {width: 70%;}
.fluid .grid-15-20 {width: 75%;}
.fluid .grid-16-20 {width: 80%;}
.fluid .grid-17-20 {width: 85%;}
.fluid .grid-18-20 {width: 90%;}
.fluid .grid-19-20 {width: 95%;}

.fluid .grid-1-21 {width: 4.7619047619%;}
.fluid .grid-2-21 {width: 9.52380952381%;}
.fluid .grid-3-21 {width: 14.2857142857%;}
.fluid .grid-4-21 {width: 19.0476190476%;}
.fluid .grid-5-21 {width: 23.8095238095%;}
.fluid .grid-6-21 {width: 28.5714285714%;}
.fluid .grid-7-21 {width: 33.3333333333%;}
.fluid .grid-8-21 {width: 38.0952380952%;}
.fluid .grid-9-21 {width: 42.8571428571%;}
.fluid .grid-10-21 {width: 47.619047619%;}
.fluid .grid-11-21 {width: 52.380952381%;}
.fluid .grid-12-21 {width: 57.1428571429%;}
.fluid .grid-13-21 {width: 61.9047619048%;}
.fluid .grid-14-21 {width: 66.6666666667%;}
.fluid .grid-15-21 {width: 71.4285714286%;}
.fluid .grid-16-21 {width: 76.1904761905%;}
.fluid .grid-17-21 {width: 80.9523809524%;}
.fluid .grid-18-21 {width: 85.7142857143%;}
.fluid .grid-19-21 {width: 90.4761904762%;}
.fluid .grid-20-21 {width: 95.2380952381%;}

.fluid .grid-1-22 {width: 4.54545454545%;}
.fluid .grid-2-22 {width: 9.09090909091%;}
.fluid .grid-3-22 {width: 13.6363636364%;}
.fluid .grid-4-22 {width: 18.1818181818%;}
.fluid .grid-5-22 {width: 22.7272727273%;}
.fluid .grid-6-22 {width: 27.2727272727%;}
.fluid .grid-7-22 {width: 31.8181818182%;}
.fluid .grid-8-22 {width: 36.3636363636%;}
.fluid .grid-9-22 {width: 40.9090909091%;}
.fluid .grid-10-22 {width: 45.4545454545%;}
.fluid .grid-11-22 {width: 50%;}
.fluid .grid-12-22 {width: 54.5454545455%;}
.fluid .grid-13-22 {width: 59.0909090909%;}
.fluid .grid-14-22 {width: 63.6363636364%;}
.fluid .grid-15-22 {width: 68.1818181818%;}
.fluid .grid-16-22 {width: 72.7272727273%;}
.fluid .grid-17-22 {width: 77.2727272727%;}
.fluid .grid-18-22 {width: 81.8181818182%;}
.fluid .grid-19-22 {width: 86.3636363636%;}
.fluid .grid-20-22 {width: 90.9090909091%;}
.fluid .grid-21-22 {width: 95.4545454545%;}

.fluid .grid-1-23 {width: 4.34782608696%;}
.fluid .grid-2-23 {width: 8.69565217391%;}
.fluid .grid-3-23 {width: 13.0434782609%;}
.fluid .grid-4-23 {width: 17.3913043478%;}
.fluid .grid-5-23 {width: 21.7391304348%;}
.fluid .grid-6-23 {width: 26.0869565217%;}
.fluid .grid-7-23 {width: 30.4347826087%;}
.fluid .grid-8-23 {width: 34.7826086957%;}
.fluid .grid-9-23 {width: 39.1304347826%;}
.fluid .grid-10-23 {width: 43.4782608696%;}
.fluid .grid-11-23 {width: 47.8260869565%;}
.fluid .grid-12-23 {width: 52.1739130435%;}
.fluid .grid-13-23 {width: 56.5217391304%;}
.fluid .grid-14-23 {width: 60.8695652174%;}
.fluid .grid-15-23 {width: 65.2173913043%;}
.fluid .grid-16-23 {width: 69.5652173913%;}
.fluid .grid-17-23 {width: 73.9130434783%;}
.fluid .grid-18-23 {width: 78.2608695652%;}
.fluid .grid-19-23 {width: 82.6086956522%;}
.fluid .grid-20-23 {width: 86.9565217391%;}
.fluid .grid-21-23 {width: 91.3043478261%;}
.fluid .grid-22-23 {width: 95.652173913%;}

.fluid .grid-1-24 {width: 4.16666666667%;}
.fluid .grid-2-24 {width: 8.33333333333%;}
.fluid .grid-3-24 {width: 12.5%;}
.fluid .grid-4-24 {width: 16.6666666667%;}
.fluid .grid-5-24 {width: 20.8333333333%;}
.fluid .grid-6-24 {width: 25%;}
.fluid .grid-7-24 {width: 29.1666666667%;}
.fluid .grid-8-24 {width: 33.3333333333%;}
.fluid .grid-9-24 {width: 37.5%;}
.fluid .grid-10-24 {width: 41.6666666667%;}
.fluid .grid-11-24 {width: 45.8333333333%;}
.fluid .grid-12-24 {width: 50%;}
.fluid .grid-13-24 {width: 54.1666666667%;}
.fluid .grid-14-24 {width: 58.3333333333%;}
.fluid .grid-15-24 {width: 62.5%;}
.fluid .grid-16-24 {width: 66.6666666667%;}
.fluid .grid-17-24 {width: 70.8333333333%;}
.fluid .grid-18-24 {width: 75%;}
.fluid .grid-19-24 {width: 79.1666666667%;}
.fluid .grid-20-24 {width: 83.3333333333%;}
.fluid .grid-21-24 {width: 87.5%;}
.fluid .grid-22-24 {width: 91.6666666667%;}
.fluid .grid-23-24 {width: 95.8333333333%;}

/* ---------------------------------------------------------------------
12 column grid
--------------------------------------------------------------------- */
.grid-1-12 {width: 6.382978723%; /* 60 / 940 */}
.grid-2-12 {width: 14.893617021%; /* 140 / 940 */}
.grid-3-12 {width: 23.404255319%; /* 220 / 940 */}
.grid-4-12 {width: 31.914893617%; /* 300 / 940 */}
.grid-5-12 {width: 40.425531915%; /* 380 / 940 */}
.grid-6-12 {width: 48.936170213%; /* 460 / 940 */}
.grid-7-12 {width: 57.446808511%; /* 540 / 940 */}
.grid-8-12 {width: 65.957446809%; /* 620 / 940 */}
.grid-9-12 {width: 74.468085106%; /* 700 / 940 */}
.grid-10-12 {width: 82.978723404%; /* 780 / 940 */}
.grid-11-12 {width: 91.489361702%; /* 860 / 940 */}
.grid-12-12 {width: 100%; /* 940 / 940 */}


.push-1-12,
.push-1-12:first-child {margin-left: 8.510638297%; /* 60 / 940 + 20 */}
.push-2-12,
.push-2-12:first-child {margin-left: 17.021276595%; /* 140 / 940 + 20 */}
.push-3-12,
.push-3-12:first-child {margin-left: 25.531914893%; /* 220 / 940 + 20 */}
.push-4-12,
.push-4-12:first-child {margin-left: 34.042553191%; /* 300 / 940 + 20 */}
.push-5-12,
.push-5-12:first-child {margin-left: 42.553191489%; /* 380 / 940 + 20 */}
.push-6-12,
.push-6-12:first-child {margin-left: 51.063829787%; /* 460 / 940 + 20 */}
.push-7-12,
.push-7-12:first-child {margin-left: 59.574468085%; /* 540 / 940 + 20 */}
.push-8-12,
.push-8-12:first-child {margin-left: 68.085106383%; /* 620 / 940 + 20 */}
.push-9-12,
.push-9-12:first-child {margin-left: 76.59574468%; /* 700 / 940 + 20 */}
.push-10-12,
.push-10-12:first-child {margin-left: 85.106382978%; /* 780 / 940 + 20 */}
.push-11-12,
.push-11-12:first-child {margin-left: 93.617021276%; /* 860 / 940 + 20 */}

/* ---------------------------------------------------------------------
16 column grid
--------------------------------------------------------------------- */
.grid-1-16 {width: 4.255319149%; /* 40 (originally 40) / 940 */}
.grid-2-16 {width: 10.638297872%; /* 100 (originally 100) / 940 */}
.grid-3-16 {width: 17.021276596%; /* 160 (originally 160) / 940 */}
.grid-4-16 {width: 23.404255319%; /* 220 (originally 220) / 940 */}
.grid-5-16 {width: 29.787234043%; /* 280 (originally 280) / 940 */}
.grid-6-16 {width: 36.170212766%; /* 340 (originally 340) / 940 */}
.grid-7-16 {width: 42.553191489%; /* 400 (originally 400) / 940 */}
.grid-8-16 {width: 48.936170213%; /* 460 (originally 460) / 940 */}
.grid-9-16 {width: 55.319148936%; /* 520 (originally 520) / 940 */}
.grid-10-16 {width: 61.70212766%; /* 580 (originally 580) / 940 */}
.grid-11-16 {width: 68.085106383%; /* 640 (originally 640) / 940 */}
.grid-12-16 {width: 74.468085106%; /* 700 (originally 700) / 940 */}
.grid-13-16 {width: 80.85106383%; /* 760 (originally 760) / 940 */}
.grid-14-16 {width: 87.234042553%; /* 820 (originally 820) / 940 */}
.grid-15-16 {width: 93.617021277%; /* 880 (originally 880) / 940 */}
.grid-16-16 {width: 100%; /* 940 (originally 940) / 940 */}

/* ---------------------------------------------------------------------
24 column grid
--------------------------------------------------------------------- */

.gs-960-24 .col {
    float: left;
    clear: none;
    margin-right: 0.526315789%; /* 5 (originally 5) / 950 */ 
    margin-left: 0.526315789%; /* 5 (originally 5) / 950 */
}

.gs-960-24 .col:first-child {
    margin-left: 0;
}

.gs-960-24 .col:last-child {
    margin-right: 0;
}

.gs-960-24 .grid-1-24 {width: 3.157894737%; /* 30 (originally 30) / 950 */ }
.gs-960-24 .grid-2-24 {width: 7.368421053%; /* 70 (originally 70) / 950 */}
.gs-960-24 .grid-3-24 {width: 11.578947368%; /* 110 (originally 110) / 950 */ }
.gs-960-24 .grid-4-24 {width: 15.789473684%; /* 150 (originally 150) / 950 */ }
.gs-960-24 .grid-5-24 {width: 20%; /* 190 (originally 190) / 950 */ }
.gs-960-24 .grid-6-24 {width: 24.210526316%; /* 230 (originally 230) / 950 */ }
.gs-960-24 .grid-7-24 {width: 28.421052632%; /* 270 (originally 270) / 950 */}
.gs-960-24 .grid-8-24 {width: 32.631578947%; /* 310 (originally 310) / 950 */ }
.gs-960-24 .grid-9-24 {width: 36.842105263%; /* 350 (originally 350) / 950 */ }
.gs-960-24 .grid-10-24 {width: 41.052631579%; /* 390 (originally 390) / 950 */}
.gs-960-24 .grid-11-24 {width: 45.263157895%; /* 430 (originally 430) / 950 */ }
.gs-960-24 .grid-12-24 {width: 49.473684211%; /* 470 (originally 470) / 950 */}
.gs-960-24 .grid-13-24 {width: 53.684210526%; /* 510 (originally 510) / 950 */ }
.gs-960-24 .grid-14-24 {width: 57.894736842%; /* 550 (originally 550) / 950 */ }
.gs-960-24 .grid-15-24 {width: 62.105263158%; /* 590 (originally 590) / 950 */ }
.gs-960-24 .grid-16-24 {width: 66.315789474%; /* 630 (originally 630) / 950 */ }
.gs-960-24 .grid-17-24 {width: 70.526315789%; /* 670 (originally 670) / 950 */ }
.gs-960-24 .grid-18-24 {width: 74.736842105%; /* 710 (originally 710) / 950 */ }
.gs-960-24 .grid-19-24 {width: 78.947368421%; /* 750 (originally 750) / 950 */ }
.gs-960-24 .grid-20-24 {width: 83.157894737%; /* 790 (originally 790) / 950 */ }
.gs-960-24 .grid-21-24 {width: 87.368421053%; /* 830 (originally 830) / 950 */ }
.gs-960-24 .grid-22-24 {width: 91.578947368%; /* 870 (originally 870) / 950 */ }
.gs-960-24 .grid-23-24 {width: 95.789473684%; /* 910 (originally 910) / 950 */}
.gs-960-24 .grid-24-24 {width: 100%; /* 950 (originally 950) / 950 */ }

/* ---------------------------------------------------------------------
forms
--------------------------------------------------------------------- */

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
textarea {
    width: 100%;
}

.error-results {
    color: #cc0000;
    border: 1px solid #cc0000;
}

.error-results p {
    padding: 0 20px;
}

.error-message {
    color: #fff;
    background: #cc0000;
}

.error-message p {
    padding: 10px 20px;
}

.error-icon,
.warning-icon {
    display: inline-block;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
	font-weight: bold;
	text-align: center;
}

.error-icon {
    color: #fff;
    background: #cc0000;
}

.warning-icon {
    color: #000;
    background: #ffd42a;
}



/* ---------------------------------------------------------------------
tables
--------------------------------------------------------------------- */

table {
    width: 100%;
    text-align: left;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}
.nav {
	position: relative;
	float: right;
	clear: none;
	z-index: 2;
}
.nav, .nav li { position:relative;}

.nav li { 
	list-style-type:none;
	display: inline-block;
	float:left;
	font-weight:bold; 
	font-size: 14px;
	border: 1px solid #ccc;
	border-left: 0;
}

.nav li:first-child {
	border-left: 1px solid #ccc;
}

.nav li a { 

	height:100%; 
	display:block;
	padding: 14px;
    text-decoration: none;
    color: black;
}

.nav li a span {
  font-weight: bold;
  font-size: 14px;
}


.nav li:hover,
.nav li:hover a,
.nav li a:active,
.nav li ul li a:hover,
.nav li:hover ul li:hover,
.nav li:hover ul li:hover a,
.nav li:hover ul li a:hover,
.nav li:hover ul li:hover a:hover{ background: #ADD8E6;color:#fff; }

.nav ul {
	cursor:pointer;
	position: absolute;
	margin: 0;
	padding: 0;
	top: auto;
	left: 0;
	width: 125px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.nav li:last-child ul {
	right: 0;
	left: auto;
}

.nav li:hover ul li, 
.nav li:hover ul li a { 
    background:#fff;
    color:#222;
}
.nav li ul li
{
    margin-top:0px;
    background:#fff;
    color:#222;
    padding: 2px 0;
    width: 125px;
    border-top: 0;
    border-right:1px solid #ccc;
    border-bottom: 0;
    border-left:1px solid #ccc;
}

.employee-info fieldset {
    border: none !important;
}
.header {
    width: 100%;
    background: #fff;
}
    .header .wrapper {
    height: 140px;
    padding: 20px 0;
    }

body {
background: #ecf0f1;
font-family: arial;
font-size: 13px;
color: #282828;
font-style: normal;
background-repeat: repeat-x;
}
.header button {
margin: 15px;
}

.employee-record:hover {
    background: #ADD8E6;
    color:#fff; 
}